<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Metric Time.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3AD7E3D11C72961500502023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AD7E3E51C72961500502023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AD7E3F01C72961500502023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
